<div class="container">
    <div>
        <h1>Formulario</h1>
    </div>
    <form [formGroup]="formulario">
        <div class="form-group">
            <div>
                <label for="">Nombre</label>
                <input 
                type="text"
                placeholder="Ingresa tu nombre"
                formControlName="nombre"
                required
            >            
            <small *ngIf="formularioReactivo.nombre?.errors?.required && formularioReactivo.nombre.touched ">
                El nombre es requerido
            </small>
            <small *ngIf="formularioReactivo.nombre?.errors?.minlength">
                El nombre debe contener minimo 4 caracteres
            </small>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label for="">Apellido</label>
                <input 
                type="text"
                placeholder="Ingresa tu apellido"
                formControlName="apellido"
                required
            >            
            <small *ngIf="formularioReactivo.apellido?.errors?.required && formularioReactivo.apellido.touched ">
                El apellido es requerido
            </small>
            <small *ngIf="formularioReactivo.apellido?.errors?.minlength">
                El apellido debe contener minimo 4 caracteres
            </small>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label for="">Edad</label>
                <input 
                type="number"
                placeholder="Ingresa tu edad"
                formControlName="edad"
                required
            >            
            <small *ngIf="formularioReactivo.edad?.errors?.required && formularioReactivo.edad.touched ">
                La edad es requerida
            </small>
            <small *ngIf="formularioReactivo.edad?.errors?.min">
                La edad debe contener minimo 4 caracteres
            </small>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label for="">Email</label>
                <input 
                type="text"
                placeholder="Ingresa tu email"
                formControlName="email"
                required
            >            
            <small *ngIf="formularioReactivo.email?.errors?.required && formularioReactivo.email.touched ">
                El email es requerido
            </small>
            </div>
        </div>
        <div class="form-group">
            <div>
                <button
                class="btn btn-primary"
                type="submit"
                (click)="botonEnviar()"
                [disabled]="!formulario.valid"
                >Enviar</button>
            </div>
        </div>
    </form>
</div>